.fd-header {
  font-size: 2rem;
  text-align: center;
}
.fd-form {
  margin-top: 40px;
  padding: 10px;
  border: 1px solid #757575;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.fd-fields-layout {
  border: 1px solid #757575;
  border-top-left-radius: 10px;
  margin: 20px;
  padding: 20px;
}
