.root {
}
.form {
  width: 100%;
}
.selection {
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 50px;
  margin-left: 0em;
}
.selection-boxex {
}
.hourly-input {
  width: 8.333%;
}
.hourlyforms {
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.load-reading-header {
  text-align: start;
  font-size: 1.1rem;
}
.Hourly-box {
  margin-top: 50px;
}
.pm {
  text-align: start;
}
.am {
}
.lastvalue {
  text-align: center;
  background-color: #f7f7f7;
}
.interruptions {
  margin: 50px 0px 10px;
}
.faults-select {
}
.faults-dropdown {
}
.faults {
  margin-top: 40px;
}
.faults-time-picker {
}
.energy-reading {
  margin-bottom: 20px;
}
.save-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.save-button {
  color: #ffffff;
  background-color: #0054b3;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 700;
  font-family:
    Trebuchet MS,
    sans-serif;
}
.submit-button {
  font-weight: 700;
  border-radius: 3px;
  background-color: #0054b3;
  border: 1px solid transparent;
  font-family:
    Trebuchet MS,
    sans-serif;
}
