.root {
}
.save-submit-commercial {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.save-button-commercial {
  border-radius: 3px;
  background-color: #0054b3;
  font-weight: 700;
  font-family:
    Trebuchet MS,
    sans-serif;
}
.submit-button-commercial {
  background-color: #0054b3;
  font-family:
    Trebuchet MS,
    sans-serif;
  font-weight: 800;
  border-radius: 3px;
}
.upload-excel {
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.excel-upload {
  text-align: center;
  margin-top: 30px;
}
