.root {
}
.collections-save-submit {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}
.submit-collection {
  background-color: #0054b3;
  font-family:
    Trebuchet MS,
    sans-serif;
  font-weight: 700;
  border-radius: 3px;
}
.save-collection {
  font-family:
    Trebuchet MS,
    sans-serif;
  font-weight: 700;
  background-color: #0054b3;
  border-radius: 3px;
}
.h3header {
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 40px;
}
.collection-formsdiv {
  border: 1px solid #757575;
  border-top-left-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.collectionforms-upperlay {
  margin-top: 100px;
  padding: 10px;
  border: 1px solid #757575;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.collectionagent {
  padding: 10px;
  margin-left: 10px;
  min-height: auto;
  display: flex;
}
.add-collection {
  font-weight: 900;
  color: #ffffff;
  background-color: #0054b3;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100px;
  justify-items: center;
  margin-top: 2px;
  margin-left: 0px;
  margin-bottom: 30px;
}
.remove-collection {
  font-weight: 700;
  color: #ffffff;
  height: 30px;
  background-color: #db2828;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  align-self: center;
  width: 100px;
  justify-items: center;
  margin-top: 2px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-family:
    Trebuchet MS,
    sans-serif;
}