@import '../../../styles/color';
@import '../../../styles/spacing';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-top: $spacing-1;
  padding-bottom: $spacing-1;
  padding-left: $spacing-2;
  padding-right: $spacing-2;
  background-color: rgba($color-red, 0.1);
  color: $color-black;
  width: 100%;
  flex-wrap: nowrap;
}
.dashboard-layout {
  grid-template-columns: 22rem 1fr;
  max-width: 1920px;
  height: 1080px;
}
.dash {
  width: 100%;
}
.top-bar {
  width: 100%;
}
.lay {
  width: 1460px;
  background-color: $color-white;
  padding: 20px;
  border: 1px solid $color-gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.upperlay {
  background-color: $color-white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 40px;
  border: 1px solid $color-gray;
}
.header {
  text-align: center;
  font-size: 2rem;
}
.divider-header {
  width: 100%;
}
